{% extends 'base.html.twig' %}

{% block title %}Hello PizzacreaController!{% endblock %}

{% block body %}
<h1>Créer une nouvelle pizza</h1>
	{{form_start(carte)}}
		{{form_widget(carte)}}
		<button>Créer</button>
	{{form_end(carte)}}
{% endblock %}
