{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>S'inscrire</h1>
	{{form_start(inscription)}}
		{{form_widget(inscription)}}
		<button>S'inscrire</button>
	{{form_end(inscription)}}
{% endblock %}
