{% extends 'base.html.twig' %}

{% block title %}Hello UpdateController!{% endblock %}

{% block body %}
	{{form_start(carte)}}
		{{form_widget(carte)}}
		<button>Modifier</button>
	{{form_end(carte)}}
{% endblock %}
